.pagination {

   @media (max-width:768px) {
      padding: 30px 16px;
      justify-content: center;
   }

   padding: 10px 16px;
   display: flex;
   align-items: center;
   justify-content: end;

   &__item {
      cursor: pointer;
      margin: 0px 2px 0 0;
      display: flex;
      align-items: center;
      color: #333;

      &:first-child,
      &:last-child {
         padding: 0 5px;
      }
   }

   &__link {
      padding: 10px;

      &_active {
         font-weight: 700;
         font-size: 17px;
         padding: 10px;
         background-color: #333;
         color: white;
      }
   }

}